/* Container
----------------------------------------------------------------------------------------------------*/
.container-12 {
	max-width: 1000px;
	margin: auto;
	position: relative;
	padding-left:20px;
	padding-right:20px;
	@media (max-width: 995px) {
		// padding:0 2.6em; //20px;
	}
	// @media (max-width: 767px) {
	// 	max-width: 400px;
	// 	width: 100%;
	// 	padding: 0 20px;
	// }
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container-12 {
	.grid-1 {
		width:6.333%;
	}
	.grid-2 {
		width:14.667%;
	}
	.grid-3 {
		width:23.0%;
	}
	.grid-4 {
		width:31.333%;
	}
	.grid-5 {
		width:39.667%;
	}
	.grid-6 {
		width:48.0%;
	}
	.grid-7 {
		width:56.333%;
	}
	.grid-8 {
		width:64.667%;
	}
	.grid-9 {
		width:73.0%;
	}
	.grid-10 {
		width:81.333%;
	}
	.grid-11 {
		width:89.667%;
	}
	.grid-12 {
		width:98.0%;
	}
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.container-12 *[class*='grid-'] {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	@media (max-width: 767px) {
		width: 100%;
		margin: 0 0 30px 0;
		display: block;
		float: none;
		#header &, #footer & {
			margin-bottom: 0;
		}
	}

}
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
