@mixin transition($duration) {
	-webkit-transition: all $duration linear;
	-moz-transition: all $duration linear;
	-o-transition: all $duration linear;
	transition: all $duration linear;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin btn($color, $duration) {
	background:$color;
	margin-top: 10px;
	display: block;
	float: left;
	color: #FFFFFF;
	padding: 5px 10px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-family: $font_secondary;
	@include transition($duration);
}
