@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);


// Fonts
$font_primary: 'Open Sans', sans-serif;
$font_secondary: 'Roboto Condensed', sans-serif;

// Colors

//main site text color
$color_main : #323232;

//secondary text color
$color_secondary : #777;

// Default colors
$black:#000;
$white:#fff;

// red color
$color1: #f41913;
//orange
$color2:#F4B50E;
//green
$color4:#80980e;
//violet
$color5:#a40fef;
//blue
$color6:#183e87;
//grey1
$color7:#D7D7D7;

// Breakpoints
$break_mobile: 767px;