@import "_variables";
@import "_mixins";
@import "_grid";

/* ================= Reset ================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	list-style:none;
}
/* ----------------------------------------------------General Elements ---------------------------------------------------- */
* {
	@include box_sizing;
}
body {
	font:normal 12px/1.5 $font_primary;
	color: $color_main;
}
#page img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: $color1;
	&:hover {
		color: $color2;
	}
}
p{
	padding-bottom: 10px;
}
.panel-separator {
	clear: both;
	overflow: hidden;
}
/* ================= Typography ================== */
#content h1.title, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.1em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: 1em;
}
/* ================= Forms ================== */
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
	background: $white;
	border:1px solid $color7;
	max-width: 100%;
	&:hover {
		border-color: darken( $color7, 10% );
	}
	&:focus {
		border-color: darken( $color7, 20% );
	}
}
input[type='text'],
input[type='email'],
input[type='password'] {
	padding: 5px 10px;
}
textarea {
	padding: 12px;
}


/* ================= Layout Elements ================== */
#main-wrapper {
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	.not-front & {
		padding-top: 40px;
	}
}

#content {
	.front & {
		width: 100%;
		margin: 0;
	}
}
//add spacing below sidebar blocks
.sidebar {
	.block {
		margin-bottom: 30px;
	}
}
/* ================= Article Node view ================== */
.node-type-article{
	.content {
		>[class*='image'] {
			border: 1px solid $color7;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
			float: left;
			margin: 0 10px 0 0;
			max-width: 100%;
			img {
				display: block;
			}
		}
		>[class*='text'] {
		}
	}
}
/* --------------------------------------------------------------------------------------------------------------------------
//																Header
---------------------------------------------------------------------------------------------------------------------------- */
#header {
	background: #f2f2f2;
	padding: 16px 0 20px;
	@media (max-width: $break_mobile) {
		.grid-8 {
			float: right;
			margin: 0;
			position: absolute;
			right: 30px;
			top: 50%;
			width: auto;
			z-index: 2;
		}
	}
	#logo {
		@media (max-width: 340px) {
			img {
				max-width: 200px;
			}
		}
	}
}


/* ----------------------------------------------------Blocks ---------------------------------------------------- */

/* ================= User menu ================== */
#block-system-user-menu {
	float: right;
	clear: right;
	@media (max-width: $break_mobile) {
		display: none;
	}
	ul.menu {

		padding-top: 10px;
		li {
			font-size: 13px;
			line-height: 14px;
			border-left: 1px solid #3F5682;
			display: inline-block;
			padding: 0 4px 0 8px;
			a {
				color: #3f5682;
				&:hover, &.active {
					color: darken( #3f5682, 20% );
				}
			}

		}
		li:first-child {
			border: none;
			vertical-align: top;
			a {
				background: url("../images/icon_twitter_small.jpg") no-repeat scroll 0 -2px;
				display: block;
				font-size: 0;
				height: 20px;
				width: 22px;
			}
		}
	}
}
/* ================= Main menu ================== */

.header-menu {
	label {
		display: none;
		margin-top: -10px;
		i {
			background: url("../images/icon_menu_mobile.gif") no-repeat;
    	cursor: pointer;
    	float: right;
    	font-size: 27px;
    	height: 26px;
    	margin-bottom: 2px;
    	width: 35px;
		}
		@media (max-width: $break_mobile) {
			display: block;
		}
	}
	[type=checkbox]{
		display: none;
		&:checked ~ label {
			color: $black;
		}
		&:checked ~ label ~ #main-menu {
			opacity: 1;
			display: block;
		}
	}
	#main-menu {
		font-family:$font_secondary;
		float: right;
		clear: right;
		padding-top: 60px;
		@media (max-width: $break_mobile) {
			background:#333;
			opacity: 0;
			padding: 0;
			display: none;
			@include transition(.3s);
		}
		li {
			display: inline;
			padding: 0 10px;
			@media (max-width: $break_mobile) {
				border-bottom: 1px solid #eee;
				display: block;
				padding: 0;
			}
			a {
				color: $color1;
				text-transform: uppercase;
				font-weight: bold;
				//@include transition(.3s);
				font-size: 16px;
				line-height: 20px;
				@media (max-width: $break_mobile) {
					color: $white;
					display: block;
					padding: 5px 10px;
					font-size: 13px;
					text-transform: uppercase;
				}
				&:hover, &.active {
					color: $black;
					@media (max-width: $break_mobile) {
						background:$white;
						color: #F41913;
					}
				}
			}
		}
	}
}
/* ================= All articles list ================== */
.blog-articles {
	.views-row {
		padding-bottom: 5px;
	}
	.item-list {
		ul {
			text-align: left;
		}
	}
}
/* ================= Sidebar Block Content Toggle ================== */
//hide content
@media (max-width: $break_mobile) {
	.sidebar .block {
		position: relative;
		.content {
			display: none;
		}
	}
}
//toggle icon
body .block-toggle {
	display: none;
	@media (max-width: $break_mobile) {
		display: block;
		color: $black;
	    cursor: pointer;
	    float: right;
	    font-size: 20px;
	    margin: -1px 12px 0 0;
		&.act {
			color:$color_secondary;
		}
	}
}
/* ================= Flex Slider ================== */
.panel-slider {
	margin-bottom: 30px;
	position: relative;
	&:before {
		background:$color7;
		bottom: -1px;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		width: 300%;
		left: 0;
		margin-left: -100%;
		@media (max-width: $break_mobile) {
			display: none;
		}
	}
}

.flexslider {
	position: relative;
	.slides > li {
		position: relative;
	}
}

// Pagination
.flex-control-nav {
	bottom: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 2;
	@media (max-width: $break_mobile) {
		text-align: left;
	}
	@media (max-width: 340px) {
		bottom: 0;
	}
	li {
		display: inline-block;
		margin: 0 3px;
		a {
			background:$color1;
			border-radius: 50%;
			cursor: pointer;
			display: block;
			height: 13px;
			text-indent: -9999px;
			width: 13px;
			&.flex-active {
				background:$color2;
				cursor: default;
			}
			&:hover {
				background:$color2;
			}
		}
	}

}
// Caption
.flex-caption {
	position: absolute;
	font-size: 14px;
	margin-left: 1%;
	margin-top: 6%;
	max-width: 51%;
	top: 0;
	left: 0;
	@media (max-width: $break_mobile) {
		max-width: 70%;
	}
	@media (max-width: 420px) {
	}
}
.flex-caption p{
	padding-bottom: 2%;
	@media (max-width: $break_mobile) {
		+p {
			display: none;
		}
	}
	>strong {
		font-family: $font_secondary;
		text-transform: uppercase;
		font-size: 50px;
		line-height: 110%;
		@media (max-width: 940px) {
			font-size: 33px;
		}
		@media (max-width: 600px) {
				font-size: 26px
		}
		@media (max-width: 420px) {
			font-size: 19px;
		}
		em{
			font-style: normal;
			color: $color6;
		}
	}
}

/* ================= Featured Boxes ================== */
.featured-boxes {
	.grid-4 {
		border: 1px solid #B2B2B2;
		min-height: 310px;
		padding: 3% 2%;
		position: relative;
		.summary {
			z-index: 1;
			position: relative;
			@media (max-width: 1000px) {
				line-height: 1.1;
			}
		}
		.button {
			position: relative;
			z-index: 1;
			a {
				@include btn($color1, .3s);
				&:hover {
					background: $color2;
				}
			}
		}
		span.img {
			bottom: 0;
			display: block;
			max-width: 100%;
			position: absolute;
			right: 0;
			img {
				display: block;
			}
		}
	}
	.grid-4+.grid-4 {
		a {
			@include btn($color4, .3s);
			&:hover {
				background: $color2;
			}
		}
	}
	.attachment {
		>div {
			background: url("../images/box03.jpg") no-repeat scroll 100% 100%;
		}
		h2 {
			font-size: 22px;
			font-family: $font_secondary;
			color: $black;
		}
		h3 {
			margin-bottom: 5px;
			a{
				color: $color5;
				text-transform: uppercase;
				font-family: $font_secondary;
				&:hover{
					color: $black;
				}
			}
		}
	}
}
/* ================= Buttons ================== */
.btn, input[type='submit'] {
	@include btn($color1, .3s);
	&:hover {
		background: $color2;
		color: $white;
	}
}

.btn03 {
	@include btn($color5, .3s);
}

/* ================= Featured Node view ================== */
.node-featured-boxes{
	.content {
		>[class*='image'] {
			border: 1px solid $color7;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
			float: left;
			margin: 0 10px 0 0;
			max-width: 100%;
		}
		>[class*='text'] {
		}
	}
}

/* ================= Blog Page View ================== */
.blog-list {
	.blog-item {
		border-bottom: 1px solid $color7;
		margin: 0 0 20px;
		padding: 0 0 30px;
		h2 {
			a{
				color: $black;
				&:hover{
				}
			}
		}
		.submitted {
			font-style: italic;
			padding-bottom: 10px;
			text-align: right;
		}
		.content {
			color: $black;
			>[class*='image'] {
				float: left;
				margin-right: 10px;
			}
			>[class*='body'] {
			}
			>[class*='tags'] {
				.field-items {
					div {
						display: inline;
						padding: 0 3px;
						a{
						}
					}
				}
			}
		}
		.links {
			li {
			}
		}
	}
}
// Exposed form
.views-exposed-form {
	padding-bottom: 20px;
	.views-exposed-widget {
		float: none;
	}
	label {
		display: inline;
	}
	.views-widget {
		display: inline-block;
		padding-left: 10px;
	}
}

/* ================= System styles overrides ================== */
// Pager
.item-list ul li {
	margin: 0;
}
.profile {
	.user-picture {
		margin-top: 2em;
	}
}


/* --------------------------------------------------------------------------------------------------------------------------
//																Footer
---------------------------------------------------------------------------------------------------------------------------- */
#footer {
	margin-top: 40px;
	>div {
		background: #f6f6f6;
		border-top: #cbcbcb solid 1px;
		padding: 40px 0 60px;
		@media (max-width: $break_mobile) {
			padding: 30px 0;
		}
		>div:first-child {
			padding-left: 30px;
		}
		>div+div {
			padding-right: 30px;
			@media (max-width: $break_mobile) {
				padding-right: 0;
			}
		}
	}
}
/* ================= Footer Main Menu ================== */
#block-system-main-menu {
	float: right;
	@media (max-width: $break_mobile) {
		float: none;
	}
	ul.menu {
		li {
			border-left: 1px solid #333;
			display: inline;
			padding: 0 5px 0 7px;
			@media (max-width: $break_mobile) {
				border-left: medium none;
				border-top: 1px solid $color7;
				display: block;
				margin: 0;
				padding: 8px 0;
				text-align: center;
				padding: 8px 0;
			}
			a {
				color: $color1;
				@media (max-width: $break_mobile) {
					display: block;
					font-size: 15px;
					text-transform: uppercase;
				}
				&:hover, &.active {
					color: $black;
				}
			}
			&:first-child {
				border: none;
			}
		}
	}
}
// Copyright block
#block-block-1 {
	padding-top: 25px;
	float: right;
	clear: right;
	@media (max-width: $break_mobile) {
		display: none;
	}
	.content {
		color: $black;
	}
}

// Footer twitter block
#block-block-2 {
	@media (max-width: $break_mobile) {
		display: none;
	}
	.content {
		a {
			color: #487AD3;
			display: inline-block;
			font-weight: bold;
			line-height: 37px;
			text-transform: uppercase;
			i {
				color: #0BBCE5;
				font-size: 41px;
				padding: 0 0 0 6px;
				position: relative;
				top: 6px;
			}
			&:hover {
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			}
		}
	}

}
